# build output
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.vscode/
*.swp
*.swo

# env
.env
.env.*
!.env.example

# SST
.sst/


# environment variables
.env
.env.*

# macOS-specific files
.DS_Store

# sst
.sst
