---
export const prerender = false
import {getSession} from "auth-astro/server"
const session = await getSession(Astro.request)
---

<script>
const { signIn, signOut } = await import("auth-astro/client")
const login = document.getElementById("login")
const logout = document.getElementById("logout")

logout?.addEventListener("click", ()=>{signOut()})

</script>
<html>
    <body>
        <a id="login" href="/auth/signin">Login</a>
        <button id="logout">Logout</button>
      
    </body> 
    <a href="/">Return to homepage</a>
</html>
