---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ApplicationListing from "../../components/Projects/ApplicationListing.astro";
import Search from "../../components/Search/Search.astro";

const featuredApplications = await getCollection(
  "applications",
  ({ data }: CollectionEntry<"applications">) => {
    return data.featured === true;
  }
);
---

<BaseLayout
  title={"Windows on Arm Ready Applications"}
  description={`Find applications ready for Windows on Arm`}
  breadcrumbs={[{ title: "Applications", href: "/applications/" }]}>


  <div class="flex mx-auto mx-auto mt-12 text-3xl">
    <b>Below are some of the top apps that have been tested. Use the search bar to search for other tested apps.</b>
  </div>

  <div class="flex mx-auto">
  <a href="/applications/search/" class="mx-auto">
    <button
      class="px-8 py-2 bg-white text-black rounded-full font-bold mt-16 text-xl hover:bg-zinc-500 hover:text-white">
      Search for more applications
    </button>
  </a>
</div>

<div class="flex flex-col">
    <ul class="mt-8">
      {
        featuredApplications.map((application) => (
          <ApplicationListing {...application} />
        ))
      }
    </ul>
  </div>
  <!-- <Search type="applications" shouldRedirect={true} /> -->
</BaseLayout>
