---
import { getCollection } from "astro:content";
import PageFind from "./PageFind";

export interface Props {
  shouldRedirect: boolean;
  type: "games" | "applications";
}

const { shouldRedirect, type } = Astro.props;

const categories =
  type === "games"
    ? await getCollection("games_categories")
    : await getCollection("applications_categories");
---

<section class="pt-10 min-h-[8rem]">
  <PageFind
    client:only="solid-js"
    shouldRedirect={shouldRedirect}
    type={type}
    categories={categories}
  />
</section>
