---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import LinaroLogo from "../../assets/powered-by-linaro.svg";
import { getRelativeLocaleUrl } from 'astro:i18n';
import { DEFAULT_LOCALE } from "../../config/i18nConfig";
import { t } from "i18next";

const { language } = Astro.props;
const today = new Date();
const locale = language ?? DEFAULT_LOCALE;
const links = [
  {
    text: t('footer.report_an_issue'),
    href: "https://github.com/Linaro/works-on-woa/issues/new",
  },
  {
    text: t('footer.edit_on_github'),
    href: "https://github.com/Linaro/works-on-woa",
  },
  {
    text: t('footer.legal'),
    href: "https://www.linaro.org/legal/",
  },
  {
    text: t('footer.contact'),
    href: "https://www.linaro.org/contact/",
  },
  {
    text: t('footer.help'),
    href: getRelativeLocaleUrl(locale, "help"),
  },
  {
    text: t('footer.takedown'),
    href: getRelativeLocaleUrl(locale, "takedown"),
  },
];

const games = await getCollection("games");

const path = Astro.url.pathname;
---

<footer
  class="mt-auto border-t border-gray-500 p-6 pt-2 text-center text-gray-100 text-sm"
>
  <div
    class="flex flex-col sm:flex-row justify-center items-center py-2 mb-2 mx-auto w-auto"
  >
    <a
      href="https://www.linaro.org"
      target="_blank"
      class="flex justify-center items-start p-2.5 pr-0"
    >
      <Image
        alt="Powered by Linaro"
        src={LinaroLogo as any}
        class="w-48"
      />
    </a>
    <div class="m-2.5 flex items-start">
      {
        () => {
          if (games && path.includes("/games"))
            return (
              <>
                <span class="mx-1 h-8 hidden sm:block">|</span>
                <span class="ml-1 h-6">{games.length} {t('footer.games_count')}</span>
              </>
            );
        }
      }
    </div>
  </div>
  <ul class="flex flex-row flex-wrap items-center justify-center w-full mb-5">
    {
      links.map((link) => (
        <li class=" after:border after:border-solid after:border-gray-500 after:my-5 last:after:border-none flex">
          <a
            class=" flex  text-center m-5  text-gray-100 no-underline"
            href={link.href}
            target="_blank"
          >
            {" "}
            {link.text}
          </a>
        </li>
      ))
    }
  </ul>

  <p class="text-xs text-center">
    Copyright &copy;
    {today.getFullYear()}
    Linaro Limited. {t('footer.copyright')}
  </p>
</footer>
