---
import BaseLayout from "./BaseLayout.astro";
import "../styles/infopage.css";
import { LOCALES } from "../config/i18nConfig";
import { t } from "i18next";

const { frontmatter } = Astro.props;
console.log("From InfoLayout");
console.log(Astro.props);
let title = frontmatter.title + " | " + t('header.main');
let breadcrumbs = [{ href: `${Astro.url.pathname}`, title: frontmatter.title }];
const localeSegment = Astro.url.pathname.startsWith('/') ? Astro.url.pathname.replace(/\/$/, '').slice(1) : Astro.url.pathname;

if (LOCALES.includes(localeSegment)) {
  title = t('header.main');
  breadcrumbs = [];
}
---

<BaseLayout
  title={title}
  description={frontmatter.description}
  breadcrumbs={breadcrumbs}
>
  <!-- <div
    data-pagefind-
    class="text-white mt-12 prose prose-invert prose-p:text-xl max-w-full mx-auto prose:text-white prose-th:text-black prose-th:px-2 prose-td:px-2"
  > -->
  <div
    data-pagefind-
    class="mt-12 max-w-full mx-auto prose prose-invert prose-th:text-black prose-strong:prose-table:text-black prose-code:prose-table:text-black prose-code:before:hidden prose-code:after:hidden prose-th:px-2 prose-td:px-2">
    <slot />
  </div>
</BaseLayout>
